page-map {
    .image-header {
        background: url('/assets/images/map_romania.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}
