<ion-header>
  <ion-navbar class="navbar">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Harta proteste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-gradient home">
  <div class="main-hero"></div>
  <div class="main-body" *ngIf="protestService.queue.length==0 && this.protestService.currentProtest.id==0">
    <ion-row class="info">
      <ion-col width-33 style="padding:20px 0px" text-center>
        <img src="assets/images/fist.png" />
      </ion-col>
      <ion-col width-67 style="padding:20px 0px">
        Protestezi în <br />
        <span class="value">
          {{this.protestService.currentProtest.city}}
          Piatra Neamt
        </span>
        alături de încă <br />
        <span class="value">
          {{this.protestService.currentProtest.size}}0000
        </span> protestatari
      </ion-col>
    </ion-row>

    <button ion-button (click)="viewMap()" full>Vezi toate protestele</button>  <br />
    <button ion-button color="secondary" (click)="clearProtest()" full class="secondary-btn">Am plecat de la acest protest</button>
  </div>

  <div class="main-body" *ngIf="protestService.queue.length>0">
    <h1><ion-icon name="globe"></ion-icon></h1>
    Momentan nu aveti conexiune la Internet.<br />
    Datele vor fi trimise cand conexiunea va fi restabilita.
  </div>

  <div class="main-body" text-center *ngIf="protestService.queue.length===0 && this.protestService.currentProtest.id>0">
    <h3>Implica-te!</h3>
    <p class="subtitle">
      Participa acum la protest apasand pe butonul de mai jos.
    </p>
    <ion-item>
      <ion-textarea [(ngModel)]="shout" placeholder="Scrie o lozinca (optional)"></ion-textarea>
    </ion-item>
    <br /><br />
    <button ion-button color="danger" block class="btn-participa" (click)="checkIn()">Particip si eu la protest!</button><br />
        <button ion-button block round outline class="btn-participa" (click)="viewMap()">Vezi toate protestele</button>

  </div>
</ion-content>
