<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Harta proteste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #EEEEEE">
  <div class="main-body" text-center *ngIf="this.protestService.currentProtest.id==0">
        <h2>PROTESTEZI ALATURI DE</h2>
        {{this.protestService.currentProtest.size}} persoane<br />
        <button ion-button color="danger" (click)="viewMap()">Vezi harta</button>  <br />    
        <button ion-button color="danger" (click)="viewMap()">Am plecat de la acest protest</button>     
  </div>
  <div class="main-body" text-center *ngIf="this.protestService.currentProtest.id>0">
    <h4>Este dreptul tau sa protestezi!</h4>
    Participa acum la protest apasand pe butonul de mai jos.
    Scrie o lozinca si spune ce te deranjeaza. 
    <br /><br />
    <ion-item>
  <ion-textarea rows="4" [(ngModel)]="shout" placeholder="scrie o lozinca (optional)"></ion-textarea>
    </ion-item>
<br />
    <button ion-button color="danger" (click)="checkIn()">Participa la protest!</button>
  </div>
</ion-content>
