<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Harta proteste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-gradient home">
  <div class="main-hero"></div>
  <div class="main-body" *ngIf="this.protestService.currentProtest.id==0">
    <ion-row class="info">
      <ion-col width-33>
        <img src="../assets/images/fist.png" />
      </ion-col>
      <ion-col width-67>
        Protestezi în <br />
        <span class="value">
          {{this.protestService.currentProtest.city}}
          Piatra Neamt
        </span>
        alături de încă <br />
        <span class="value">
          {{this.protestService.currentProtest.size}}
        </span>
      </ion-col>
    </ion-row>

    <button ion-button (click)="viewMap()" full>Vezi cati mai protesteaza</button>  <br />
    <button ion-button color="secondary" (click)="viewMap()" full class="secondary-btn">Am plecat de la acest protest</button>
  </div>
  <div class="main-body" text-center *ngIf="this.protestService.currentProtest.id>0">
    <h4>Harta Proteste</h4>
    <p>
      Participa acum la protest apasand pe butonul de mai jos.
      Scrie o lozinca si spune ce te deranjeaza.
    </p>
    <br /><br />
    <ion-item>
      <ion-textarea rows="4" [(ngModel)]="shout" placeholder="scrie o lozinca (optional)"></ion-textarea>
    </ion-item>
    <br />
    <button ion-button color="danger" (click)="checkIn()">Participa la protest!</button>
  </div>
</ion-content>
