h3 {
    color: #000000;
    font-weight: bold;
    font-size: 24pt;
    margin-bottom: 0px;
}

.main-body {
    width: 90%;
    margin: 0px auto; /*background-color: rgba(255,255,255,0.5); border:solid 1px #EEEEEE;*/
    border-radius: 7px;
    padding: 10px 10px 0px 10px;

    .info {
        height: 150px;
        margin-bottom: 50px;
        background-color: rgb(51,51,51);
        font-size: 24px;
        color: rgb(149,149,149);
        margin-top: 30px;

        .value {
            font-weight: bold;
            color: white;
        }

        img {
            padding-top: 30px;
        }
    }
}

p {
    color: #333333;
}

.subtitle {
    font-size: 14pt;
    color: #333333;
    margin-bottom: 20px;
}


.secondary-btn {
    border: solid 1px rgb(51,51,51);
}

.btn-participa {
    height: 50px;
    font-size: 18px;
}

.shout textarea {
    font-size: 20px;
}

.main-body .info img {
    padding-top: 0px;
    max-height: 150px;
}

.main-body .info {
    height: initial;
}

.home-footer {
    padding: 0px 20px 0px 20px;
}


@media screen and (max-height: 440px), screen and (min-height: 680px) {
  .home-footer {
        .btn-participa {
            border: solid 1px black;

            &.btn-secondary {
                background-color: map-get($colors, secondary);
            }
        }
    }
}

@media screen and (orientation: landscape) {
    .home-footer {
        .primary-section {
            float: right;
            width: 50%;
        }

        .secondary-section {
            float: left;
            width: 50%;
        }


    }
}
